.last{
    margin-left: auto;
}
.hero{
    background: rgba(0, 0, 0, 0.7) url(assets/images/banner.jpg);
    background-size: cover;
    height: 40vh;
    background-blend-mode: darken;
    
}
#link{
    color: white;
    font-size: 20px;
}
#link:hover{
    color: green;
    transition: 0.3s;
    transform: perspective(3000px) translateZ(300px);
}
.account{
    float: right;
}
.account button{
    margin-right: 20px;
}
img{
    border: 2px solid black;
}
footer{
    background-color: grey;
    padding: 50px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer h3{
    color: white;
    padding-bottom: 30px;
}
.social a{
    margin: 20px;
}